<div class="cartBox">
  <h1 class=" ttl text-danger ">Shopping cart</h1>
  <div class="headCart">
    <p class=" hdr lead"> you have <label class="text-danger">2 </label> items in your cart</p>
    <span class="text-danger card-header"> clear shopping cart</span>
  </div>
  <table class="table table-striped">
    <thead>
          <tr>
              <th></th>
              <th>name</th>
              <th>price</th>
              <th style="width: 25%">quantity</th>
              <th>total</th>
              <th></th>
          </tr>
    </thead>
    <tbody >
          <tr>
            <td><img src="" alt=""></td>
            <td>name-title</td>
            <td>15o</td>
            <td>
                <div class="quantity">
                          <button class="btn btn-dark">+</button>
                          <input class="form-control" type="number" min="1">
                          <button class="btn btn-dark">-</button>
                </div>
            </td>
            <td>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
    </tbody>
    <tfoot>
        <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th> Total:1500dh</th>
              <th> <button class="btn btn-success">order Now </button></th>
        </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" role="alert"> <strong>well done!</strong> oder successfully sent</div>
