<div class="item">
  <div routerLink="/details/{{data.id}}">
    <img src="{{data.image}}" alt="">
    <div class="body">
      <h4>{{data.title}}</h4>
      <p>{{data.description}}</p>
    </div>
  </div>
  <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
    <button class="btn btn-success" *ngIf="!addProduct" (click)="addProduct=true">Add To Cart</button>
    <div class="d-flex w-50" *ngIf="addProduct">
          <input type="number" class="form-control"  [(ngModel)]="amount">
          <button class="btn btn-danger"  (click)="add();addProduct=false">Add</button>
    </div>
    <span>50 L.E</span>
  </div>
</div>
